<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Welcome to PasswordGuesser</title>
</head>
<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half has-text-centered">
                        <h1 class="title ">
                            Welcome to PasswordGuesser
                        </h1>
                        <h2 class="subtitle">
                            A simple password guesser
                        </h2>
                        <div class="buttons is-centered">
                            <a href="start.html" class="button is-primary">Start Password Guesser</a>
                            <!-- <a href="/register" class="button is-primary">Register</a> -->
                        </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    
</body>
</html>